<template name="home">
	{{>Surface template="home_surface"}}
</template>

<template name="home_surface">
	<div class="jumbotron">
		<div class="container">
			<div class="media">
				<div class="pull-left col-xs-5 col-sm-2 logo-home">
					<img class="media-object" src="/img/logo.png" width="100%"><br>
				</div>
				<div class="media-body col-xs-12 col-sm-9">
					<h2 class="media-heading">
						Un café <small>à&nbsp;Paris</small> pour&nbsp;1€&nbsp;?
					</h2>
					<p>
						Touchez l'écran pour trouver le plus proche de vous.
					</p>
				</div>
			</div>
		</div>
	</div>
</template>